body {
  background-color: #30404d;
}

.App {
  text-align: center;
}

.App-content {
  margin: auto;
  max-width: 400px;
  padding: 15pt;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.App-element {
  padding: 5pt 5pt;
  max-width: 400px;
  min-width: 80px;
  flex-grow: 1;
  flex-basis: 400px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
